@font-face{font-family: 'STCaiyun'; src: url('../Font/STCaiyun.ttf');}
@font-face{font-family: 'YouYuan'; src: url('../Font/YouYuan.ttf');}
body{scrollbar-width: none; -ms-overflow-style: none; overflow-x: hidden; overflow-y: auto;}
body::-webkit-scrollbar{display: none; width: 0;}
body::-webkit-scrollbar-track{background: transparent;}
body::-webkit-scrollbar-thumb{background: transparent;}
.background{background-image: radial-gradient(circle at 50% 50%, rgba(183, 227, 231, 0.47), rgba(122, 180, 180, 0.34));}
progress{position: fixed; top: 0; left: 0; right: 0; height: 0.1%; width: auto; border-style: none; background: rgba(0, 0, 0, 0);}
progress::-webkit-progress-bar{background: rgba(0, 0, 0, 0); border-radius: 6px;}
progress::-webkit-progress-value{background: rgba(192, 255, 233, 0.9); border-radius: 6px;}
progress::-moz-progress-bar{background: rgba(192, 255, 233, 0.9); border-radius: 6px;}
.Time{position: fixed; right: 1%; top: 0; font-size: 1.5em; color: rgba(248, 6, 78, 0.9); font-family: STCaiyun, serif;}
.order{position: fixed; top: 85%; left: 5%; right: 5%; height: 12%; width: auto; border: none;}
.base{position: fixed; top: 95%; left: 5%; right: 5%; height: 1%; width: auto; border: none; border-radius: 30%; background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(192, 255, 233, 0.8) 50%, rgba(0, 0, 0, 0) 100%);}
.tab{height: 80%; width: 20%; display: flex; flex-direction: column; justify-content: center; align-items: center; font-family: YouYuan, serif; z-index: 1; transition: transform 0.5s ease;}
.last{position: absolute; top: 0; left: 10%; margin-bottom: 5vh; font-size: 3vh; color: rgba(0, 0, 0, 0.9);}
.this{position: absolute; top: 0; left: 50%; transform: translateX(-50%); margin-bottom: 3vh; font-size: 5vh; color: rgba(0, 0, 0, 1);}
.next{position: absolute; top: 0; right: 10%; margin-bottom: 5vh; font-size: 3vh; color: rgba(0, 0, 0, 0.9);}
.bubble{position: fixed; top: 50%; left: 50%; width: 20px; height: 20px; border-radius: 50%; color: aliceblue; background: azure; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);}
.center{position: fixed; top: 4%; bottom: 10%; left: 3%; right: 3%; height: auto; width: auto; background: white; border-color: aliceblue; border-width: 1px; border-radius: 2vmax; text-align: center;}

